
\.vs/Raspi/v15/Server/sqlite3/

\.vs/Raspi/v15/

KanoopCommon/bin/Debug/

KanoopCommon/obj/Debug/

Raspi/bin/Debug/

Raspi/bin/x64/Debug/

RaspiCommon/bin/Debug/

RaspiCommon/bin/x64/Debug/

RaspiCommon/obj/Debug/

RaspiCommon/obj/x64/Debug/

RaspiForm/bin/Debug/

Raspi/obj/Debug/

Raspi/obj/x64/Debug/

RaspiForm/bin/x64/Debug/

RaspiForm/obj/Debug/

RaspiForm/obj/x64/Debug/

TrackBot/bin/Debug/

TrackBot/obj/Debug/

*.jwo~

Testing/bin/Debug/

Testing/obj/Debug/

Radar/bin/Debug/

Radar/obj/Debug/

MQTT/bin/Debug/

MQTT/obj/Debug/

KanoopControls/bin/Debug/

KanoopControls/obj/Debug/

TrackBotCommon/bin/Debug/

TrackBotCommon/obj/Debug/

BotClaw/bin/Debug/

BotClaw/obj/Debug/

DumpConfig/bin/Debug/

DumpConfig/obj/Debug/

packages/



ServoTest/bin/Debug/

ServoTest/obj/Debug/

\.vs/TrackBot/v15/

running\.hosts

.vs/TrackBot/v16/Server/sqlite3/
